body {
    font-family: Arial;
    text-align: center;
    background: #f4f4f4;
}

.container {
    width: 90%;
    margin: auto;
}

canvas {
    margin-top: 20px;
    border: 1px solid #ccc;
    background: white;
}

input, select, button {
    margin: 10px;
    padding: 10px;
}